@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
background-image: url("static/site.jpg");
background-repeat: no-repeat;
}

.navbar-brand img {width: 100px; height: 50px}
.navbar-nav li {
padding-right: 20px;
}
.nav-link {font-size: 1.1em !important}



#myCarousel {
    margin-top: 3%;
    margin-bottom: 3%;
}

.carousel-inner {
    height: 500px;
}

.carousel-inner img {
    height: 100%;
}


@media (min-width: 1100px) {
    carousel inner img {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .carousel-caption .display-2 {
        font-size: 3em;
    }
}


.jumbotron {
    padding: 1em;
    border-radius: 0;
    width 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.padding {
    padding-bottom: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top 2em;
}


.alert hr {
    border-top: 2px solid;
    width: 95%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}



#gifsbtn {
    margin-bottom: 20px;
}


#gifs img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 20px;

}

@media (max-width 750px) {
    .display-4 {
    font-size: 1.5 em}
}

.social a {
    font-size: 4em;
    padding: 20px;
}


#postimg {
    max-width: 200px;
    max-height: 200px;
}


.form-section {
    background: #D6D0B9;
    padding: 20px;
    border: 1px solid silver;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74, 74, 74,.21);
    -moz-box-shadow: 0 2px 3px 0 rgba(74, 74, 74,.21);
    -box shadow: 0 2px 3px 0 rgba(74, 74, 74,.21);
}

.form-section > h2 {
    margin-bottom: 10px;
}

#prof {
    margin-bottom: 20px;
    background: #D6D0B9;
    padding: 20px;
    border: 1px solid silver;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74, 74, 74,.21);
    -moz-box-shadow: 0 2px 3px 0 rgba(74, 74, 74,.21);
    -box shadow: 0 2px 3px 0 rgba(74, 74, 74,.21);
}

#social {
    margin-bottom: -35px;
    display: flex;
    justify-content: center;
    height: 100%;
}


#twitter {
    color: #f1f0de;
    width: 48px;
    height: 48px;

}

#inst {
    color: #f1f0de;
    width: 48px;
    height: 48px;
}


#telegram {
    color: #f1f0de;
    width: 48px;
    height: 48px;
}


#youtube {
    color: #f1f0de;
    width: 48px;
    height: 48px;
}



* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
