{% extends 'main/navbar.html' %}
{% block main_section %}
<div class="container" >
    {% if user.is_authenticated %}
           <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Имя: {{ tech.tech }}</strong>
                <b>Номер техники: </b>{{ tech.tech_number }};
                <b>Причина: </b>{{ tech.reason }}
                <b>Время: </b>{{ tech.start_time }}
                    <a href="{% url 'tech_edit' pk=tech.id%}" class="btn btn-outline-dark mr-2">Редактировать</a>
                </p>
            </div>
    {% else %}
        <h2>ДОСТУП К ИНФОРМАЦИИ ЗАПРЕЩЕН</h2>
    {% endif %}
</div>
{% endblock main_section %}


{% block footer_section %}
{% endblock footer_section %}





