<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Segway</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>
<body>
<!-- Шапка сайта -->
<div class="wrapper">
    <nav class="navbar navbar-expand-md navbar-light rounded sticky-top" style="background-color: #FFCF46;">
            <div class="container-fluid">
                        <a href="{% url 'main-main' %}" class="navbar-brand"><img src="{% static 'logo.jpg' %}"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                        <div class="collapse navbar-collapse" id="navbarsExample09">
                          <ul class="navbar-nav mr-auto">
                             <li class="nav-item">
                              <a class="nav-link" href="{% url 'client' %}">Клиенты</a>
                             </li>
                              <li class="nav-item dropdown">
                               <a class="nav-link" href="{% url 'ride' %}">Поездки</a>
                              </li>
                               <li class="nav-item">
                                    <a class="nav-link" href="{% url 'tech' %}">Техника</a>
                               </li>
                              {% if user.is_superuser %}
                               <li class="nav-item">
                                    <a class="nav-link" href="{% url 'cash' %}">Бюджет</a>
                               </li>
                              {% endif %}
                          </ul>
                        </div>
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                              <a href="{% url 'exit' %}" class="btn btn-outline-dark mr-2">Выйти</a>
                            {% else %}
                              <a href="{% url 'auth' %}" class="btn btn-outline-dark mr-2 ">Войти </a>
                            {% endif %}
                </div>
            </div>
    </nav>
    <div class="content">

{% block main_section %}
        {% endblock %}

    </div>
    <div class="footer" style="margin-bottom: -35px;" style="background-color: #FFCF46;">
          <div style="background-color: #FFCF46;">
              <p class="lead" style="text-align: center; margin-bottom: -35px; ">Телефон для связи: 8(915)781-00-24 или 8(953)438-39-56</p>
          </div>
    </div>
</div>

{% block footer_section %}
        {% endblock %}
</body>
</html>